/* @font-face {
  font-family: "Gotham Black";
  src: url("~@/assets/fonts/Gotham-Black.otf") format("opentype");
}
@font-face {
  font-family: "Gotham Bold";
  src: url("~@/assets/fonts/Gotham-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Gotham Book";
  src: url("~@/assets/fonts/Gotham-Book.otf") format("opentype");
}
@font-face {
  font-family: "Gotham Light";
  src: url("~@/assets/fonts/Gotham-Light.otf") format("opentype");
}
@font-face {
  font-family: "Gotham Medium";
  src: url("~@/assets/fonts/Gotham-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Eurostar Regular Extended";
  src: url("~@/assets/fonts/Eurostar-Regular-Extended.ttf") format("truetype");
}
@font-face {
  font-family: "KoratakiW01-Book";
  src: url("~@/assets/fonts/KoratakiW01-Book.otf") format("opentype");
} */